[PHP]

;;;;;;;;;;;;;;;;;;;;
; Language Options ;
;;;;;;;;;;;;;;;;;;;;

engine = On
{% if php_short_open_tag is defined %}
short_open_tag = {{ php_short_open_tag }}
{% else %}
;short_open_tag = 
{% endif %}
{% if php_precision is defined %}
precision = {{ php_precision }}
{% else %}
;precision = 
{% endif %}
{% if php_output_buffering is defined %}
output_buffering = {{ php_output_buffering }}
{% else %}
;output_buffering = 
{% endif %}
implicit_flush = Off
zlib.output_compression = Off

{% if php_serialize_precision is defined %}
serialize_precision = {{ php_serialize_precision }}
{% else %}
;serialize_precision = 
{% endif %}
{% if php_disable_functions is defined %}
disable_functions = {{ php_disable_functions }}
{% else %}
;disable_functions = 
{% endif %}

disable_classes =
zend.enable_gc = On

;;;;;;;;;;;;;;;;;
; Miscellaneous ;
;;;;;;;;;;;;;;;;;

{% if php_expose_php is defined %}
expose_php = {{ php_expose_php }}
{% else %}
;expose_php =
{% endif %}

;;;;;;;;;;;;;;;;;;;
; Resource Limits ;
;;;;;;;;;;;;;;;;;;;

{% if php_max_execution_time is defined %}
max_execution_time = {{ php_max_execution_time }}
{% else %}
;max_execution_time = 
{% endif %}
{% if php_max_input_time is defined %}
max_input_time = {{ php_max_input_time }}
{% else %}
;max_input_time = 
{% endif %}
{% if php_max_input_vars is defined %}
max_input_vars = {{ php_max_input_vars }}
{% else %}
;max_input_vars = 
{% endif %}
{% if php_memory_limit is defined %}
memory_limit = {{ php_memory_limit }}
{% else %}
;memory_limit = 
{% endif %}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Error handling and logging ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{% if php_error_reporting is defined %}
error_reporting = {{ php_error_reporting }}
{% else %}
;error_reporting =
{% endif %}
{% if php_display_errors is defined %}
display_errors = {{ php_display_errors }}
{% else %}
;display_errors = 
{% endif %}
{% if php_display_startup_errors is defined %}
display_startup_errors = {{ php_display_startup_errors }}
{% else %}
;display_startup_errors = 
{% endif %}
log_errors = On
log_errors_max_len = 1024
ignore_repeated_errors = Off
ignore_repeated_source = Off
report_memleaks = On
track_errors = Off
html_errors = On

;;;;;;;;;;;;;;;;;
; Data Handling ;
;;;;;;;;;;;;;;;;;

variables_order = "GPCS"
request_order = "GP"
register_argc_argv = Off
auto_globals_jit = On

{% if php_post_max_size is defined %}
post_max_size = {{ php_post_max_size }}
{% else %}
;post_max_size = 
{% endif %}
auto_prepend_file =
auto_append_file =

default_mimetype = "text/html"
default_charset = "UTF-8"

;;;;;;;;;;;;;;;;;;;;;;;;;
; Paths and Directories ;
;;;;;;;;;;;;;;;;;;;;;;;;;

doc_root =
user_dir =

enable_dl = Off

{% if php_realpath_cache_size is defined %}
realpath_cache_size = {{ php_realpath_cache_size }}
{% else %}
;realpath_cache_size =
{% endif %}

;;;;;;;;;;;;;;;;
; File Uploads ;
;;;;;;;;;;;;;;;;

{% if php_file_uploads is defined %}
file_uploads = {{ php_file_uploads }}
{% else %}
;file_uploads = 
{% endif %}
{% if php_upload_max_filesize is defined %}
upload_max_filesize = {{ php_upload_max_filesize }}
{% else %}
;upload_max_filesize = 
{% endif %}
{% if php_max_file_uploads is defined %}
max_file_uploads = {{ php_max_file_uploads }}
{% else %}
;max_file_uploads = 
{% endif %}

;;;;;;;;;;;;;;;;;;
; Fopen wrappers ;
;;;;;;;;;;;;;;;;;;

{% if php_allow_url_fopen is defined %}
allow_url_fopen = {{ php_allow_url_fopen }}
{% else %}
;allow_url_fopen = 
{% endif %}
allow_url_include = Off

default_socket_timeout = 60

;;;;;;;;;;;;;;;;;;;
; Module Settings ;
;;;;;;;;;;;;;;;;;;;

[CLI Server]
cli_server.color = On

[Date]
{% if php_date.timezone is defined %}
date.timezone = {{ php_date_timezone }}
{% else %}
;date.timezone = 
{% endif %}

[Pdo_mysql]
pdo_mysql.cache_size = 2000
pdo_mysql.default_socket=

[mail function]
; For Win32 only.
SMTP = localhost
smtp_port = 25

; For Unix only.  You may supply arguments as well (default: "sendmail -t -i").
{% if php_sendmail_path is defined %}
sendmail_path = {{ php_sendmail_path }}
{% else %}
;sendmail_path =
{% endif %}

mail.add_x_header = On

[SQL]
sql.safe_mode = Off

[ODBC]
odbc.allow_persistent = On
odbc.check_persistent = On
odbc.max_persistent = -1
odbc.max_links = -1
odbc.defaultlrl = 4096
odbc.defaultbinmode = 1

[MySQL]
mysql.allow_local_infile = On
mysql.allow_persistent = On
mysql.cache_size = 2000
mysql.max_persistent = -1
mysql.max_links = -1
mysql.default_port =
mysql.default_socket =
mysql.default_host =
mysql.default_user =
mysql.default_password =
mysql.connect_timeout = 60
mysql.trace_mode = Off

[MySQLi]
mysqli.max_persistent = -1
mysqli.allow_persistent = On
mysqli.max_links = -1
mysqli.cache_size = 2000
mysqli.default_port = 3306
mysqli.default_socket =
mysqli.default_host =
mysqli.default_user =
mysqli.default_pw =
mysqli.reconnect = Off

[mysqlnd]
mysqlnd.collect_statistics = On
mysqlnd.collect_memory_statistics = Off

[PostgreSQL]
pgsql.allow_persistent = On
pgsql.auto_reset_persistent = Off
pgsql.max_persistent = -1
pgsql.max_links = -1
pgsql.ignore_notice = 0
pgsql.log_notice = 0

[bcmath]
bcmath.scale = 0

[Session]
{% if php_session.save_handler is defined %}
session.save_handler = {{ php_session_save_handler }}
{% else %}
;session.save_handler = 
{% endif %}
{% if php_session.save_path is defined %}
session.save_path = {{ php_session_save_path }}
{% else %}
;session.save_path =
{% endif %}
session.use_cookies = 1
session.use_only_cookies = 1
session.name = PHPSESSID
session.auto_start = 0

{% if php_session.cookie_lifetime is defined %}
session.cookie_lifetime = {{ php_session_cookie_lifetime }}
{% else %}
;session.cookie_lifetime = 
{% endif %}
session.cookie_path = /
session.cookie_domain =
session.cookie_httponly =

session.serialize_handler = php

{% if php_session.gc_probability is defined %}
session.gc_probability = {{ php_session_gc_probability }}
{% else %}
;session.gc_probability =
{% endif %}
{% if php_session.gc_divisor is defined %}
session.gc_divisor = {{ php_session_gc_divisor }}
{% else %}
;session.gc_divisor = 
{% endif %}
{% if php_session.gc_maxlifetime is defined %}
session.gc_maxlifetime = {{ php_session_gc_maxlifetime }}
{% else %}
;session.gc_maxlifetime = 
{% endif %}

session.referer_check =

session.cache_limiter = nocache
session.cache_expire = 180

session.use_trans_sid = 0

session.hash_function = 0
session.hash_bits_per_character = 5

url_rewriter.tags = "a=href,area=href,frame=src,input=src,form=fakeentry"

[MSSQL]
mssql.allow_persistent = On
mssql.max_persistent = -1
mssql.max_links = -1
mssql.min_error_severity = 10
mssql.min_message_severity = 10
mssql.compatability_mode = Off
mssql.secure_connection = Off

[Tidy]
tidy.clean_output = Off

[soap]
soap.wsdl_cache_enabled=1
soap.wsdl_cache_dir="/tmp"
soap.wsdl_cache_ttl=86400
soap.wsdl_cache_limit = 5

[ldap]
ldap.max_links = -1
